Data Science Tools and Ecosystem

---
In this notebook, Data Science Tools and Ecosystem are summarized.

Some of the popular languages that Data Scientists use are:


*   Pythone
*   c++
*   julia

Some of the commonly used libraries used by Data Scientists include:


1.   Sickiet learn
2.   pandas
3.   numpy
4.   TensorFlow.
5.  SciPy.
6.  Pandas.
7.  Matplotlib.
8. Keras.
9.  PyTorch.
10.  Scrapy.

Data Science Tools:
1. SAS. 
2.  Apache Spark		
3.  BigML

Below are a few examples of evaluating arithmetic expressions in Python

In [10]:
 b=3
 a=4
 c=5
print (a*b+c)

17

In [11]:
days = 0
hours = 0
mins = 0
time = 200
#days = time / 1440
leftover_minutes = time % 1440
hours = leftover_minutes / 60
#mins = time - (days*1440) - (hours*60)
print(str(days) + " days, " + str(hours) + " hours, " + str(mins) +  " mins. ")

0 days, 3.3333333333333335 hours, 0 mins.

Below the introduction cell created in Exercise 3, insert a new markdown cell to list the objectives that this notebook covered (i.e. some of the key takeaways from the course). In this new cell start with an introductory line titled: Objectives: in bold font. Then using an unordered list (bullets) indicate 3 to 5 items covered in this notebook, such as List popular languages for Data Science.

**Author:**

Lakshmi Holla

Niveditha Pandith